@charset "utf-8";

ul{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    max-width: 980px;
    margin: 0 auto;
}

ul li{
    padding: 0 20px;
    background-color: gray;
}

.wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.wrap div {
    width: 30%;
    height: 300px;
    margin-bottom: 20px;
    background: red;
    color: #fff;
    text-align: center;
    line-height: 300px;
}

