@charset "utf-8";

/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

.lead,
.about,
.menu,
.gallery,
.event,
.access {
    background-color: #e8d9bf;
}

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 7% 0 3%;
    box-sizing: border-box;
}

.header_logo {
    width: 226px;
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* キャッチコピー */

.lead {
    margin-top: 106px;
    text-align: center;
}

.lead1 {
    font-size: 30px;
}

.lead2,
.lead3 {
    letter-spacing: 0.1em;
}

.lead2 {
    font-size: 82px;
    line-height: 1.17em;
    padding-top: 72px;
    padding-bottom: 50px;
}

.lead3 {
    font-size: 23px;
    line-height: 1.65em;
}

/* ABOUT US */

.about {
    margin-top: 100px;
}

.about_block {
    width: 1000px;
    display: flex;
    margin: 0 auto;
}

.about_visual {
    width: 500px;
}

.about_visual img {
    border-bottom-right-radius: 82px;
}

h2 {
    width: 272px;
    padding: 68px 0;
}

.about_message {
    width: 42%;
    padding-left: 80px;
}

.message_title {
    font-size: 44px;
    line-height: 1.38em;
    padding-bottom: 21px;
}

.message_description {
    font-size: 16px;
    line-height: 1.62em;
}

/* MENU */

h2 {
    text-align: center;
    display: block;
    margin: 0 auto;
}

.menu_title {
    width: 151px;
}

.menu_flex {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.menu_block {
    width: 100%;
}

.menu_block img {
    border-top-right-radius: 42px;
}

h3 {
    font-size: 38px;
    line-height: 0.57em;
    color: #d30202;
    margin-top: -5px;
    margin-bottom: 24px;
}

.menu_texts {
    font-size: 17px;
    line-height: 1.47em;
}

/* GALLERY */

.gallery_title {
    width: 245px;
}

.gallery_photo ul {
    display: flex;
}

/* EVENT */

.event_title {
    width: 174px;
}

.box1 {
    width: 1000px;
    height: 200px;
    background-color: white;
    margin: 0 auto;
    border: solid 3.8px #4f260b;
}

.box1 ul {
    width: 666px;
    margin: 0 auto;
    margin: 40px 15% 40px 16%;
}

.box1 ul li {
    font-size: 23px;
    padding: 12px 0;
}

.news {
    padding-left: 4.8%;
}

/* ACCESS */

.title_access {
    width: 213px;
}

.map {
    text-align: center;
    width: 100%;
}

/* フッター */

footer {
    width: 1000px;
    margin: 0 auto;
}
.footer_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_logo {
    font-size: 52px;
}

.footer_block {
    font-size: 20px;
    line-height: 1.8em;
    color: black;
}

.footer_copyright {
    text-align: center;
}

.footer_copyright {
    margin: 78px 0;
}

.pagetop {
    right: 40px;
}
